= simple_form_for @question do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :category
    = f.input :image
    - if @question.image.exists?
      = image_tag @question.image.url(), class:"img-thumbnail"

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
