= simple_form_for @question, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :category
  = f.input :image
  - if @question.image.exists?
    = image_tag @question.image.url(), class:"img-thumbnail"
    %br
  = f.submit nil, :class => 'btn btn-primary'
