.col-md-4
  .panel
    .panel-body
      = link_to image_tag(question.image.url(:medium), class:'img-thumbnail'), question_path(question)
      - if !defined? no_link
        %p.text-right
          = link_to question.user.name, user_path(question.user)
          - if question.user == current_user
            = link_to edit_user_question_path(question) do
              %i.fa.fa-edit
            = link_to user_question_path(question), :method => :delete, :data => { :confirm => '削除しますか？' } do
              %i.fa.fa-trash-o
        %p.text-center
          = link_to 'このお題でボケる', new_user_question_answer_path(question)

