%p#notice= notice

%p
  %b User:
  = @question.user_id
%p
  %b Title:
  = @question.title
%p
  %b Category:
  = @question.category
%p
  %b Image:
  = image_tag @question.image.url(:medium)

%h2 Answers
- answers = @question.answers.page(params[:page])
- answers.each do |answer|
  %div
    = image_tag answer.question.image.url(:medium)
    %br
    = answer.body
= paginate answers

- if @question.user == current_user then
  = link_to 'Edit', edit_question_path(@question)
  \|
= link_to 'Post New Answer', new_question_answer_path(@question)
\|
= link_to 'Back', questions_path
