%p#notice= notice

.row
  = render @question

- if @question.user == current_user then
  %div
    = link_to 'Edit', edit_question_path(@question)
    \|
    = link_to 'Destroy', @question, :method => :delete, :data => { :confirm => 'Are you sure?' }

%h2 Answers
.row
  - answers = @question.answers.page(params[:page]).per(9)
  - answers.each do |answer|
    = render answer
= paginate answers

