%p#notice= notice

%p
  %b User:
  = @question.user_id
%p
  %b Title:
  = @question.title
%p
  %b Category:
  = @question.category
%p
  %b Image:
  = image_tag @question.image.url()

= link_to 'Edit', edit_question_path(@question)
\|
= link_to 'Back', questions_path
