.comment-form-notice
- question = answer.question
- comment = answer.comments.find_or_initialize_by(user:current_user)
= form_for([:user, question, answer, comment], data: {remote: true}) do |f|
  .comment-rate
    - [3,2,1].each do |i|
      %input{type: :radio, value: i, name: 'comment[rate]', id: "comment_rate_#{answer.id}_#{i}", checked: comment.rate == i}
      %label{for: "comment_rate_#{answer.id}_#{i}"}
  .clear
  .input-group
    = f.text_field :body, class: "form-control", style: "height:33px;"
    %span.input-group-btn
      %button.btn.btn-primary{type:"submit", style:"border-bottom-left-radius:0;border-top-left-radius:0;left-margin:-1px;"}
        %i.fa.fa-comment
    - if !comment.new_record?
      %span.input-group-btn
        = link_to user_question_answer_comment_path(question, answer, comment), :method => :delete, :data => { :confirm => 'Are you sure?' }, remote: true do
          %button.btn.btn-danger
            %i.fa.fa-trash-o
