%ul.nav.nav-tabs.nav-justified
  = user_tab('show', user.name, user_path(user))
  = user_tab('questions', 'Questions', questions_user_path(user))
  = user_tab('answers', 'Answers', answers_user_path(user))
  = user_tab('comments', 'CommentedAnswers', comments_user_path(user))
  = user_tab('favorite_users', 'FavoriteUsers', favorite_users_user_path(user))
  = user_tab('favorited_users', 'FavoritedUsers', favorited_users_user_path(user))
