%h1= "#{@user.name}のページ"

#favorite-button-notice
#favorite-button
  = render 'favorites/favorite_button', user: @user

%h2 Questions
.row
  - @questions.each do |question|
    = render question
= link_to "more questions", questions_user_path(@user)

%h2 Answers
.row
  - @answers.each do |answer|
    = render answer
= link_to "more answers", answers_user_path(@user)

%h2 Commented answers
.row
  - @comments.each do |comment|
    = render comment.answer
= link_to "more commented answers", comments_user_path(@user)
