= simple_form_for([:user, @question]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :category
    = f.input :image
    - if @question.image.exists?
      = image_tag images_question_url(@question), class:"img-thumbnail"

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
