%h1 Listing answers

%table
  %thead
    %tr
      %th Question
      %th Body
      %th Category
      %th User
      %th
      %th
      %th

  %tbody
    - @answers.each do |answer|
      %tr
        %td= image_tag answer.question.image.url()
        %td= answer.body
        %td= answer.category
        %td= link_to answer.user, user_path(answer.user)
        %td= link_to 'Show', [answer.question, answer]

= paginate @answers
