%p#notice= notice

%p
  %b User:
  = @answer.user
%p
  %b Question:
  = @answer.question
%p
  %b Body:
  = @answer.body
%p
  %b Category:
  = @answer.category

- if @answer.user == current_user then
  = link_to 'Edit', edit_question_answer_path(@question, @answer)
  \|
= link_to 'Back', question_path(@question)

%h2 Comments

- if my_comment = @answer.comments.find_by(user:current_user) then
  %div= link_to 'Edit', edit_question_answer_comment_path(@question, @answer, my_comment)
- else
  %div= link_to "Add Comment", new_question_answer_comment_path(@question, @answer)

- @answer.comments.each do |comment|
  %div
    = comment.body
    = "[#{comment.rate}]"
    - if comment.user == current_user
      = link_to 'Edit', edit_question_answer_comment_path(@question, @answer, comment)
      \|
      = link_to 'Destroy', [@question, @answer, comment], :method => :delete, :data => { :confirm => 'Are you sure?' }
