%p#notice= notice

%p
  %b User:
  = @answer.user
%p
  %b Question:
  = @answer.question
%p
  %b Body:
  = @answer.body
%p
  %b Category:
  = @answer.category

= link_to 'Edit', edit_question_answer_path(@question, @answer)
\|
= link_to 'Back', question_answers_path(@question)
